%h2#list_title
  &= @user_list.name
  (
  %em#completed_percentage= @user_list.completed_percentage
  \% complete )
-form_for( @user_list ) do |f|
  %ul#user_list
    -@user_list.items.each do |item|
      %li.item
        =f.check_box "item_#{item.id}", :checked => item.checked?
        %h3=f.label "item_#{item.id}", h(item.name)
        %p.description&=item.description
        - if !item.item.widgets.empty?
          .widgets
            - item.item.widgets.each do |widget|
              = render_widget(widget)

        =f.text_area "notes_#{item.id}", :value => item.notes.to_s, :class => "notes"
