Here is a list of registry offices near
= h(params["user_data"]["postcode"]) + ":"
%ul
  -@registry_offices.each do |registry|
    %li
      =link_to(registry.name, registry.url)
      %br
      ="#{registry.address}, #{registry.postcode}"
      ="(#{registry.dist_miles} miles away)"

Try a new search:
- fields_for :user_data, :builder => TodoFormBuilder do |form|
  .url{ :value => '/widgets/contact_the_register_office' }
  = form.text_field :postcode
  = perform_button('Search')
